version: '3'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment: 
        REDIS_PASSWORD: password123
  redis:
    image: "bitnami/redis:latest"
    environment: 
        REDIS_PASSWORD: password123
